*{
    margin: 0;
    padding: 0;
    font-family: Cambria;
}

body{
    background-image: url(lightgrey.jpg);
    
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    position: relative;
    text-align: center;
    list-style-type: none;
    line-height: 30;
    top: 630px;
}

ul li{
    display: inline-block;
}

ul li a{

    color:rgb(39, 36, 30);
    padding: 5px 30px;
    text-decoration: firebrick;
    
    transition:color .2s ease-out;
}

ul li a:hover{
    color:rgb(167, 155, 132);
}


h1{
    text-align: center;
    position: relative;
    top: -400px;
    width: 100%;
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: rgb(95, 43, 43);
}


p{
    position: relative;
    text-align: left;
    font-size: 125%;
    bottom: 750px;
    left: 530px;
    color: rgb(39, 36, 30);
}

p1{
    position: relative;
    text-align: left;
    font-size: 125%;
    bottom: 750px;
    left: 530px;
    color: rgb(39, 36, 30);
}

p2{
    position: relative;
    text-align: left;
    font-size: 125%;
    bottom: 760px;
    left: 610px;
    color: rgb(39, 36, 30);
    font-size: medium;
}

a{
    color:rgb(138, 95, 14);
}

i{
    position:relative;
    bottom:336px;
    left:115px;
}


h2{
    font-size: 120%;
    position: relative;
    top:110px;
    left:140px;
}

h2 a{
    color:  rgb(39, 36, 30);
    text-decoration: none;
}
h2 a:hover{
    text-decoration: underline;
}

h3{
    font-size: 120%;
    position: relative;
    top:110px;
    left:190px;
}

h3 a{
    color:  rgb(39, 36, 30);
    text-decoration: none;
}
h3 a:hover{
    text-decoration: underline;
}